# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production builds & installer outputs
/dist
tools/node.exe
tools/mariadb/

# uploads
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.pem
*.log

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
